<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}
  <body>
    {% include "partials/navauth.html" %}

    <header
      class="py-6 px-4 mx-auto max-w-7xl flex flex-wrap gap-2 justify-between items-center"
    >
      <form action="/find/users">
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search friends..."
          class="rounded-3xl min-w-[300px] border border-slate-300 py-1.5 px-3"
        />
      </form>
      <h2 class="text-xl text-center">
        Welcome <a href="/profile" class="text-blue-500">{{ user.name }}</a>
      </h2>
    </header>

    <div class="py-2 px-4 max-w-7xl mx-auto flex gap-3">
      <aside
        class="friends border border-slate-300 py-4 rounded-2xl min-w-[300px] h-fit"
      >
        {% if chats %} {% for chat in chats %} {% if chat.receiverId != user.id
        %}
        <a
          href="/dashboard?chatid={{chat.receiverId}}"
          class="flex gap-2 hover:bg-slate-100 px-2 py-2 cursor-pointer"
        >
          <div class="image">
            <!-- <img src="./" alt="user"> -->
            <div
              class="bg-slate-300 rounded-full p-2 w-[35px] h-[35px] flex justify-center items-center"
            >
              <i class="fa-solid fa-user"></i>
            </div>
          </div>
          <div class="detail">
            <div class="text-sm">{{ chat.receiver["name"] }}</div>
            <!-- <span>{{ chat.created_on }}</span> -->
            <p class="text-gray-400 font-thin text-xs">{{ chat.message }}</p>
          </div>
        </a>
        {% endif %} {% endfor %} {% else %}
        <div class="px-2">
          <a
            href="/friends"
            class="btn text-white text-center bg-blue-500 p-2 block w-full rounded-md"
            >New Conversation</a
          >
        </div>
        {% endif %}
      </aside>

      <main
        class="border border-slate-300 rounded-2xl px-2 grow min-h-[450px] flex flex-col"
      >
        <section
          class="messages grow max-h-[500px] py-1 overflow-y-auto"
        ></section>
        <section class="message-box">
          <form action="#" class="flex gap-2 py-2 justify-center">
            <input
              type="text"
              name="message"
              id="message"
              class="rounded-2xl border border-slate-300 p-2 grow max-w-2xl"
              placeholder="Type a message"
            />
            <button
              class="bg-blue-500 text-white rounded-full w-[38px] h-[38px] justify-center items-center flex"
              type="submit"
            >
              <i class="fa-solid fa-paper-plane -translate-x-[2px]"></i>
            </button>
          </form>
        </section>
      </main>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on("connect", function () {
        console.log("Connected");
      });

      let otherUserId = "{{ chatid }}";
      const params = new URLSearchParams(location.search);
      const messagesBox = document.querySelector(".messages");
      initChat(params.get("chatid"));

      const messageBox = document.querySelector(".message-box form");
      messageBox.addEventListener("submit", sendMessage);

      async function initChat(chatId) {
        if (chatId) {
          // fetch messages and update ui
          try {
            const res = await fetch("/api/chats?user_id=" + otherUserId);
            const messages = await res.json();
            console.log(messages);

            messages.forEach((message) => {
              if (message.receiverId == otherUserId) {
                // message user sent
                const messageView2 = `
          <div class="flex justify-end gap-2">
            <div class="detail">
              <div class="message left rounded-b-md rounded-tl-md bg-slate-300 p-2">
                <p class="font-black">{{ user.name }}</p>
                ${escapeHtml(message.message)}
              </div>
            </div>
            <div class="image">
              <div
                class="bg-slate-300 rounded-full p-2 w-[35px] h-[35px] flex justify-center items-center"
              >
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
          `;
        messagesBox.innerHTML += messageView2;
              } else {
                // message user received
                const messageView2 = `
          <div class="flex gap-2">
            <div class="image">
              <div
                class="bg-slate-300 rounded-full p-2 w-[35px] h-[35px] flex justify-center items-center"
              >
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
            <div class="detail">
              <div class="message left rounded-b-md rounded-tr-md bg-slate-300 p-2">
                <p class="font-black">${message.sender.name}</p>
                ${message.message}
              </div>
            </div>
          </div>
          `;
                messagesBox.innerHTML += messageView2;
              }
            });
          } catch (error) {
            console.error(error);
          }
        }
      }

      function escapeHtml(unsafe) {
        return unsafe
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
      }

      function sendMessage(e) {
        // Do logic here
        e.preventDefault();
        const val = e.target.message.value.trim();
        e.target.message.value = "";
        if (!val.length) return;
        socket.emit("send_message", { message: val, chatID: otherUserId });

        const messageView2 = `
          <div class="flex justify-end gap-2">
            <div class="detail">
              <div class="message left rounded-b-md rounded-tl-md bg-slate-300 p-2">
                <p class="font-black">{{ user.name }}</p>
                ${escapeHtml(val)}
              </div>
            </div>
            <div class="image">
              <div
                class="bg-slate-300 rounded-full p-2 w-[35px] h-[35px] flex justify-center items-center"
              >
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
          `;
        messagesBox.innerHTML += messageView2;
      }

      socket.on("receive_message", function (data) {
        console.log(data);

        if (data.sender.id == params.get("chatid")) {
          // updateUI
          // alert(data.message);
          const messageView2 = `
          <div class="flex gap-2">
            <div class="image">
              <div
                class="bg-slate-300 rounded-full p-2 w-[35px] h-[35px] flex justify-center items-center"
              >
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
            <div class="detail">
              <div class="message left rounded-b-md rounded-tr-md bg-slate-300 p-2">
                <p class="font-black">${data.sender.name}</p>
                ${data.message}
              </div>
            </div>
          </div>
          `;
          messagesBox.innerHTML += messageView2;
        } else {
          // Send a notification
        }
      });
    </script>
  </body>
</html>
