<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends List</title>
</head>
<body>
  <div class="text-3xl">Friends</div>

  <h1>Friends list</h1>
  {% if friends %}
    {% for friend in friends %}
      <a href="/user/{{ friend.id }}">{{ friend.name }}</a>
    {% endfor %}
  {% else %}
    <div>Sorry you have no friends</div>
  {% endif %}

  <h1>Others</h1>
  {% if others %}
    {% for other_user in others %}
      <a href="/user/{{ other_user.id }}">{{ other_user.name }}</a>
    {% endfor %}
  {% else %}
    <div>You're a leader, everyone is your friend</div>
  {% endif %}
</body>
</html>