<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}
  <body>
    {% include "partials/navauth.html" %}

    <main class="max-w-7xl mx-auto px-4 py-4">
      <div class="my-2 text-3xl">Friends</div>

      {% if friends %} {% for friend in friends %}
      <a href="/user/{{ friend.id }}">{{ friend.name }}</a>
      {% endfor %} {% else %}
      <div class="text-slate-500 my-3">No friends yet :(</div>
      {% endif %}

      <h1 class="my-2 text-3xl">Others</h1>
      {% if others %} {% for other_user in others %}
        <a href="/user/{{ other_user.id }}">
          <div class="flex gap-2 hover:bg-slate-100 px-2 py-4 cursor-pointer">
            <div class="image">
              <!-- <img src="./" alt="user"> -->
              <div
                class="bg-slate-300 rounded-full p-2 w-[35px] h-[35px] flex justify-center items-center"
              >
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
            <div class="detail">
              <div class="text-sm">{{ other_user.name }}</div>
            </div>
          </div>
        </a>
      {% endfor %} {% else %}
        <div>You're a leader, everyone is your friend</div>
      {% endif %}
    </main>
  </body>
</html>
