<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}
  <body>
    {% include "partials/navauth.html" %}

    <main class="max-w-[350px] mx-auto text-center">
      <div class="my-4 text-2xl">{{ user.name }}</div>

      {% if friendship %} 
        {% if friendship.accepted %}
          <a href="/dashboard?chatid={{ user.id }}" class="bg-green-700 text-white p-2 rounded">Send Message</a>
          <button class="btn remove-btn rounded bg-red-500 p-2 text-white">
            Remove
          </button>
        {% else %} 
          {% if userID == friendship.acceptingUserId %}
            <button class="btn accept-btn rounded bg-blue-500 p-2 text-white">
              Accept Friend Request
            </button>
          {% else %}
            <button class="btn delete-btn rounded bg-red-500 p-2 text-white">
              Delete Friend Request
            </button>
          {% endif %} 
        {% endif %} 
      {% else %}
        <button class="btn add-btn rounded bg-blue-500 p-2 text-white">
          Add friend
        </button>
      {% endif %}
    </main>

    <script>
      window.addEventListener("DOMContentLoaded", init);
      const user_id = "{{ user.id }}";
      const friendship_id = "{{ friendship.id }}"

      function init() {
        const removeBtn = document.querySelector(".remove-btn");
        const deleteBtn = document.querySelector(".delete-btn");
        const addBtn = document.querySelector(".add-btn");
        const acceptBtn = document.querySelector(".accept-btn");

        addBtn?.addEventListener("click", addFriend);
        acceptBtn?.addEventListener("click", acceptFriend);
        removeBtn?.addEventListener("click", removeFriend);
        deleteBtn?.addEventListener("click", removeFriend);
      }

      async function addFriend(e) {
        try {
          const res = await fetch("/api/add-friend?user_id=" + user_id, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ user_id }),
          });
          const data = await res.json();
          if (data.success == true) alert("Friend request sent");
          else alert("Failed to send friend request");
        } catch (err) {
          console.log(err);
          alert("Failed to send friend request");
        }
      }

      async function acceptFriend(e) {
        try {
          const res = await fetch("/api/add-friend?friendship_id=" + friendship_id, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ user_id }),
          });
          const data = await res.json();
          if (data.success == true) alert("Friend request sent");
          else alert("Failed to send friend request");
        } catch (err) {
          console.log(err);
          alert("Failed to send friend request");
        }
      }

      async function removeFriend() {
        try {
          const res = await fetch("/api/remove-friend?user_id=" + user_id, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ user_id }),
          });
          const data = await res.json();
          if (data.success == true) alert("Successfully deleted friend");
          else alert("Failed to delete friend");
        } catch (err) {
          console.log(err);
          alert("Failed to delete friend");
        }
      }
    </script>
  </body>
</html>
