<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User</title>
</head>
<body>
  User

  <div class="my-4 text-2xl">User: {{ user.name }} </div>

  {% if friendship %}
    {% if friendship.accepted %}
      <button>Remove</button>
    {% else %}
      <button>Delete Friend Request</button>
    {% endif %}
  {% else %}
    <button>Add friend</button>
  {% endif %}
</body>
</html>